<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <% if @action == "new" %>
            <h1>New Event</h1>
            <p>Add new Event.</p>
          <% elsif @action == "edit" %>
            <h1>Edit Event</h1>
            <p>Update the Event details.</p>
          <% end %>
        </div>
        <%= form_with(model: [@event], local: true) do |f| %>
          <div class="card-body">
            <div class="form-group">
              <div class="row">
                <div class="col-md-4">
                  <label>Event Name</label>
                  <%= f.text_field :name %>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <label>Event Date</label>
                  <%= f.date_field :date %>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <label>Event Description</label>
                  <%= f.text_area :description %>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <label>Room Available</label>
                  <%= f.collection_select :venue_id, Venue.all, :id, :name, prompt: 'Select a Room' %>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <div class="d-flex justify-content-end">
              <%= f.submit "Save", class: 'btn btn-primary' %>
              <%= link_to "Back", events_path, class: "btn btn-danger"%>  
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>




