<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h1 class="card-title">Events Informations</h1>
      </div>
      <div class="card-header">
        <%= link_to 'New Event', new_event_path, class: 'btn btn-primary' %>
      </div>   
        
    </div>
      <div class="card-body table-responsive p-0">
        <table class="table table-hover text-nowrap">
          <thead>
            <tr>
              <th>Event Name</th>
              <th>Event Date</th>
              <th>Room Occupied</th>
              <th>Time IN</th>
              <th>Time Out</th>
              <th>No of Attendies</th>
              <th>Contact Number</th>
              <th>Contact Person</th>
              <th>Action</th>
            </tr>
          </thead>
          <% @events.each do |event| %>
            <tr>
              <td><%= event.name %></td>
              <td><%= event.date.strftime('%B %d, %Y') %></td>
              <td><%= event.venue_name %></td>
              <td><%= format_time(event.time_in) %></td>
              <td><%= format_time(event.time_out) %></td>
              <td><%= event.no_of_attendies %></td>
              <td><%= event.contact_number %></td>
              <td><%= event.contact_person %></td>
              <td><%= link_to 'Show', event, class: 'btn btn-primary'%></td>
            </tr>
          <% end %>
        </table>
      </div>
   </div>
</div>