<div class="container-fluid">
  <br>
  <div class="card">
    <div class="card-header">
      <h1>Event List</h1>
      <%= link_to 'New Event', new_event_path, class: 'btn btn-primary' %>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <th>Name</th>
            <th>Date</th>
            <th>Description</th>
            <th>Room Occupied</th>
            <th>Action</th>
          </thead>
          <% @events.each do |event| %>
            <tr>
              <td><%= event.name %></td>
              <td><%= event.date.strftime('%B %d, %Y %I:%M %p') %></td>
              <td><%= event.description %></td>
              <td><%= event.venue_id %></td>
              <td>
                <%= link_to 'Show', event, class: 'btn btn-secondary' %>           
              </td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  <div>
<div> 