<h1>Event List</h1>

<%= link_to 'New Event', new_event_path, class: 'btn btn-primary' %>

<table class="table">
  <thead class="thead-light">
    <tr>
      <th>Name</th>
      <th>Date</th>
      <th>Description</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @events.each do |event| %>
      <tr class="row">
        <td><%= event.name %></td>
        <td><%= event.date.strftime('%B %d, %Y %I:%M %p') %></td>
        <td><%= event.description %></td>
        <td>
          <%= link_to 'Show', event, class: 'btn btn-info' %>
         
          <%= link_to 'Delete', event, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>



