<br>
<div class="container">
  <div class="row">
    <div class="col-2">
    </div>
    <div class="col-8">
	    <div class="card col-12 d-flex justify-content-center">
	        <div class="card-header">
	          <h1 class="card-title">Event Information</h1>
	        </div>
	        <div class="row">
	          <div class="card-body">
	            <p class="card-text">
	              Event Name :  <strong><%= @event.name %></strong> 
	            </p>
	          </div>
	          <div class="card-body">
	            <p class="card-text">
	              Event Date :  <strong><%= @event.date %></strong> 
	            </p>
	          </div>
	          <div class="card-body">
	            <p class="card-text">
	              Event Description :  <strong><%= @event.description %></strong> 
	            </p>
	          </div>
	          <div class="card-body">
	            <p class="card-text">
	              Room Occupied :  <strong><%= @event.venue_name %></strong> 
	            </p>
	          </div>
	          <div class="card-body">
	            <p class="card-text">
	              Tiime IN :  <strong><%= @event.time_in %></strong> 
	            </p>
	          </div>
	          <div class="card-body">
	            <p class="card-text">
	              Time OUT :  <strong><%= @event.time_out %></strong> 
	            </p>
	          </div>
	          <div class="card-body">
	            <p class="card-text">
	              Number of Attendies :  <strong><%= @event.no_of_attendies %></strong> 
	            </p>
	          </div>
	          <div class="card-body">
	            <p class="card-text">
	              Set Up Type :  <strong><%= @event.set_up_type %></strong> 
	            </p>
	          </div>
	          <div class="card-body">
	            <p class="card-text">
	              Payment Type :  <strong><%= @event.payment_type %></strong> 
	            </p>
	          </div>
	          <div class="card-body">
	            <p class="card-text">
	              Email :  <strong><%= @event.email %></strong> 
	            </p>
	          </div>
	          <div class="card-body">
	            <p class="card-text">
	              Contact Number :  <strong><%= @event.contact_number %></strong> 
	            </p>
	          </div>
	          <div class="card-body">
	            <p class="card-text">
	              Contact Person :  <strong><%= @event.contact_person %></strong> 
	            </p>
	          </div>
	        </div>
	    </div>
    <br>
	    <%= link_to 'Update', edit_event_path(@event), class: 'btn btn-primary' %>
		  <%= link_to "Back", events_path, class: "btn btn-secondary"%> 
		 <br>
		 <br>
		  <%= button_to 'Delete', event_path(@event), method: :delete, class: 'btn btn-danger', onclick: "return confirm('Are you sure?');" %>
    </div>
    <div class="col-2">
    </div>
  </div>
</div>
