<div class="card">
  <div class="card-header">
    <h3 class="card-title">Event Information</h3>
    <div class="card-tools">
    </div>
  </div>
  <div class="card-body">
    Event Name :  <strong><%= @event.name %></strong> 
  </div>
  <div class="card-body">
    Event Date :  <strong><%= @event.date.strftime('%B %d, %Y') %></strong> 
  </div>
  <div class="card-body">
    Event Description :  <strong><%= @event.description %></strong> 
  </div>
  <div class="card-body">
    Room Occupied :  <strong><%= @event.venue_name %></strong>
  </div>
  <div class="card-body">
    Time IN :  <strong><%= format_time(@event.time_in) %></strong> 
  </div>
  <div class="card-body">
    Time OUT :  <strong><%= format_time(@event.time_out) %></strong> 
  </div>
  <div class="card-body">
    Number of Attendies :  <strong><%= @event.no_of_attendies %></strong> 
  </div>
  <div class="card-body">
    Set Up Type :  <strong><%= @event.set_up_type %></strong>
  </div>
  <div class="card-body">
    Payment Type :  <strong><%= @event.payment_type %></strong> 
  </div>
  <div class="card-body">
    Email :  <strong><%= @event.email %></strong>
  </div>
  <div class="card-body">
    Contact Number :  <strong><%= @event.contact_number %></strong> 
  </div>
  <div class="card-body">
    Contact Person :  <strong><%= @event.contact_person %></strong> 
  </div>
  <!-- /.card-body -->
  <div class="card-footer">
    <div class="d-flex justify-content">
	    <%= link_to 'EDIT', edit_event_path(@event), class: 'btn btn-primary ml-2' %>
		  <%= link_to "BACK", events_path, class: "btn btn-secondary ml-2"%>
		  <%= button_to 'DELETE', event_path(@event), method: :delete, class: 'btn btn-danger ml-2', onclick: 'return confirm("Are you sure you want to delete this item?");' %>
	  </div>
  </div>
</div>




	              

	              
	    
    
