.card
  .card-header
    %h3.card-title Room Information
    .card-tools
  .card-body
    Room Name :
    %strong= @venue.name
  .card-body
    Room Information :
    %strong= @venue.address
  / /.card-body
  .card-footer
    .d-flex.justify-content
      = link_to 'EDIT', edit_venue_path(@venue), class: 'btn btn-primary ml-2'
      = link_to "BACK", venues_path, class: "btn btn-secondary ml-2"
      = button_to 'DELETE', venue_path(@venue), method: :delete, class: 'btn btn-danger ml-2', onclick: 'return confirm("Are you sure you want to delete this item?");'
